.custom_background {
    background-image: url(./background_one.png);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    /* @media (max-width: 480px) {
        backgroundSize: 100% 30%;
      } */
}

@media (max-width: 480px) {
    .custom_background {
        background-size: 100% 50%;
    }
  }

.custom_background_challenges {
    background-image: url(./background_one.png);
    background-repeat: no-repeat;
}

@media (max-width: 480px) {
    .custom_background_challenges {
        background-size: 100% 90%;
    }
  }

